<?xml version="1.0" encoding="utf-8"?>
<!--
  IIS hosting settings (MonsterASP.NET). `dotnet publish` fills in processPath/arguments.
  stdout logging writes startup errors to .\logs\stdout_*.log (create the "logs" folder if the host does not).
  Once the site runs reliably you can set stdoutLogEnabled="false".
-->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\ExamPlatform.Api.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
